<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/header.css" />
    <title>Header</title>
  </head>
  <body>
    <div class="navigation-menu">
      <header>
        <div class="logo">
          <h1>DevFlux</h1>
        </div>

        <nav>
          <ul>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>About</li></a>
            <a href="/"><li>Service</li></a>
            <% if(!user){ %>
            <a href="/login"><li>LogIn</li></a>
            <a href="/register"><li>Register</li></a>
            <% } else { %>
            <a href="/logout"><li>LogOut</li></a>
            <% } %>
          </ul>
        </nav>
      </header>
    </div>
  </body>
</html>
